.instructors-headline {
  font-size: 13vw;
}

.instructors-text {
  text-align: right;
  font-size: 4.5vh;
}

.text-with-small-title {
  align-items: flex-start;
  justify-content: flex-start;
}

.instructors-small-headline {
  font-family: textFont;
  font-size: 5.5vh;
  line-height: 4.5vh;
}

.next-btn {
  position: absolute;
  bottom: 1vh;
  left: 1vh;
}

.pic{
    background-size: 100% 100%;
}

.bid-spirit-pic{
    background-image: url("../../imgs/spirit.png");
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.small-spirit-pic{
    background-image: url("../../imgs/santa.png");
    width: 115%;
    height: 32%;
    z-index: 1;
    position: absolute;
    top: 11vh;
    border: solid;
    /* opacity: 0; */
}

.pics-cont{
    width: 100%;
    height: 61%;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.underline{
    text-decoration: underline;
}

.star{
    font-size: 3vh;
}

.delay,
.small-spirit-pic{
    opacity: 0;
}

.big-speech{
    height: 86%;
}