.multi-ans{
    width: 92%;
}

.true-false{
    width: 41%;

}

.answers{
    font-size: 8vw;
    background: #ffffff5c;
    border-radius: 0.7em;
    padding: 1vh;
    margin: 1vh;
    text-align: center;
    font-weight: bold;
}