/* .first-page{
  position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
} */

.logos-cont{ 
    /* align-items: flex-start; */
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    position: absolute;
    top: 3vw;
    left: 0vw;
    align-items: center;
    justify-content: center;
    margin: 1vh;
}

.logo{
    margin: 2.5vw;
    height: 10vh;
    background-size: 100% 100%;
}

.logo1 {
    background-image: url(../../imgs/matach.png);
    width: 22vw;
}
.logo2 {
    background-image: url(../../imgs/logo.png);
    width: 18vw;
}