.cls-1 {
  fill: #67ace5;
}
.cls-2 {
  fill: #5cadad;
}
.cls-3 {
  fill: #b6ce25;
}
.cls-4 {
  fill: #3163aa;
}
.cls-5 {
  fill: none;
}
.cls-6 {
  fill: #374263;
}
.cls-7 {
  font-size: 44.93px;
  font-family: AlmoniTzarAAA, Almoni Tzar AAA;
}
.cls-7,
.cls-8 {
  fill: #fff;
}
