.principles-shape{
  width: 100%;
}

.comander-part {
  fill: #67ace5;
}
.then-part {
  fill: #5cadad;
}
.halping-cotent-part {
  fill: #b6ce25;
}
.halping-konsenzus-part {
  fill: #3163aa;
}
.clear-part {
  fill: none;
}
.blue-text {
  fill: #374263;
}
.white-text {
  fill: #fff;
}

.blured-color{
  filter: saturate(0.5) ;
}