@font-face {
  font-family: bigHeadlineFont;
  src: url(fonts/Karantina-Bold.ttf);
  /* src: url(fonts/HammerProGX.ttf); */
}
@font-face {
  font-family: bigSmallHeadlineFont;
  /* src: url(fonts/Karantina-Light.ttf); */
  src: url(fonts/Karantina-Regular.ttf);
  /* src: url(fonts/HammerProGX.ttf); */
}
@font-face {
  font-family: smallHeadlineFont;
  src: url(fonts/HammerProGX.ttf);
}
@font-face {
  font-family: textFont;
  src: url(fonts/FbSpoiler-Regular.otf);
}

* {
  color: #070542;
}

::-webkit-scrollbar {
  width: 12px;
  border-radius: 0.4em;
  min-width: 11px;
  min-height: fit-content;
  
}
::-webkit-scrollbar-track {
  background: rgb(239 239 239 / 45%);
}
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0.6em;
}

::selection{
  background-color: #302adb6b;
}

body, html {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
}

.App {
  /* text-align: center; */
  width: 100vw;
  height: 100vh;
  /* position: absolute; */
  display: flex;
  direction: rtl;
  background: linear-gradient( 137deg, rgba(228, 243, 253, 1) 0%, rgba(224, 241, 252, 1) 21%, rgba(74, 179, 216, 1) 100% );
  background-size: 100% 100%;
  margin: 0%;
  padding: 0%;
  align-items: center;
  justify-content: center;
}

.glass {
  width: 90%;
  height: 94%;
  position: absolute;
  /* top: 0vh; */
  z-index: 1;
  background: linear-gradient( 137deg, rgb(227 242 253 / 31%) 0%, rgb(223 240 252 / 31%) 14%, rgb(107 193 224 / 31%) 100% );
  border-radius: 16px;
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
}



/* body,
html {
  width: 100vw;
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

.App {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  direction: rtl;
  overflow: hidden;
  background: linear-gradient(
    137deg,
    rgba(228, 243, 253, 1) 0%,
    rgba(224, 241, 252, 1) 21%,
    rgba(74, 179, 216, 1) 100%
  );
  background-size: 100% 100%;
  margin: 0%;
  padding: 0%;
}

.glass {
  width: 88%;
  height: 94%;
  position: absolute;
  background: linear-gradient(
    137deg,
    rgb(227 242 253 / 31%) 0%,
    rgb(223 240 252 / 31%) 14%,
    rgb(107 193 224 / 31%) 100%
  );
  border-radius: 16px;
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px); 
}*/

.big-headline {
  /* font-family: HeadlineFont; */
  font-family: bigHeadlineFont;
  font-size: 20vw;
  font-weight: bolder;
  margin: 2vh;
}
.big-small-headline {
  /* font-family: HeadlineFont; */
  font-family: bigSmallHeadlineFont;
  font-size: 13vw;
  margin: 2vh;
}
.small-headline {
  /* font-family: HeadlineFont; */
  font-family: smallHeadlineFont;
  font-size: 10vw;
  margin: 2vh;
}


.normal-text {
  font-family: textFont;
  font-size: 10.5vw;
}

.bold-text {
  font-weight: bold;
}

.small-margin {
  margin: 1vh;
}

.btn {
  background-color: #ffffffa6;
  border-radius: 0.8em;
  font-family: textFont;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 8.5vw;
  padding: 1.5vh 8.5vw;
  margin: 1vh;
  font-weight: bolder;
}

.sound-icon {
  margin: 2.5vw;
  height: 8vh;
  width: 18vw;
}

.page {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  /* margin-top: 12vh; */
}


.numbers{
  padding: 2vmin 5vmin;
  /* width: 3vw; */
  margin: 2.5vw;
  background-color: white;
  border-radius: 50%;
}

.pics-headline{
  font-size: 12vmin;
}

.pic-text{
  font-size: 8vmin;
  font-family: textFont;

}

.pic-text,
.instructors-text {
  text-align: right;
}

.centerd{
  text-align: center;
}